.title {
  h2 {
    margin-bottom: 28px;
    font-family: 'Montserrat';
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  .title__line {
    margin: 0 auto;
    color: var(--mint-color);
    background-color: var(--mint-color);
    border: 0px none;
    width: 80px;
    height: 2px; 
    clear: both; 
  }
}
//---@media-BlockTitle------------------
@media(max-width: 970px) {
  .title h2 {
    font-size: calc(18px + (23 - 18)*((100vw - 320px)/(970 - 320)));
    line-height: calc(28px + (36 - 28)*((100vw - 320px)/(970 - 320))); 
    margin-bottom: calc(12px + (28 - 12)*((100vw - 320px)/(970 - 320)));
  }
  .title .title__line {
    width: calc(47px + (80 - 47)*((100vw - 320px)/(970 - 320)));
    height: calc(1px + (2 - 1)*((100vw - 320px)/(970 - 320)));
  }
}
