.team{
  background-color: var(--white-color);
  margin-top: 62px;
  margin-bottom: 69px;
}
.team__items {
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.team__member {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  a img {
   transition: all 1s ease;
  }
}
.member__name a {
  margin-top: 20px;
  display: block;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  transition: all 1s ease;
}
.member__post {
  margin-top: 6px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  text-align: center;
}
.social__links {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  a {
    transition: all 1s ease;
  }
}
//---@media-team--------------------
@media (hover: hover) and (pointer: fine) {
  .team__member a img:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .team__member a img:active {
    opacity: 0.7;
  }
}
@media (hover: hover) and (pointer: fine) {
  .member__name a:hover {
    color: var(--mint-color);
  }
}
@media (hover: none) {
  .member__name a:active {
    color: var(--mint-color);
  }
}
@media (hover: hover) and (pointer: fine) {
  .social__links a:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .social__links a:active {
    opacity: 0.5;
  }
}
@media(max-width: 970px) {
  .team {
    margin-top: calc(34px + (62 - 34)*((100vw - 320px)/(970 - 320)));
    margin-bottom: calc(52px + (69 - 52)*((100vw - 320px)/(970 - 320)));
  }
  .team__items {
    margin-top: calc(23px + (42 - 23)*((100vw - 320px)/(970 - 320)));
  }
  .member__name a {
    margin-top: calc(10px + (20 - 10)*((100vw - 320px)/(970 - 320)));
    font-size: calc(12px + (16 - 12)*((100vw - 320px)/(970 - 320)));
    line-height: calc(18px + (20 - 18)*((100vw - 320px)/(970 - 320)));
  }
  .member__post {
    margin-top: calc(3px + (6 - 3)*((100vw - 320px)/(970 - 320)));
    font-size: calc(11px + (14 - 11)*((100vw - 320px)/(970 - 320)));
    line-height: calc(15px + (20 - 15)*((100vw - 320px)/(970 - 320)));
  }
  .social__links {
    margin-top: calc(18px + (30 - 18)*((100vw - 320px)/(970 - 320)));
  }
}
@media(max-width: 768px) {
  .team__items {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    row-gap: 40px;
  }
}