.intro__description {
  padding: 90px 0 106px;
  background-color: var(--intro-bg-color);
}
.intro__items {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.overview {
  width: 60%;
  span {
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--placeholder-grey-color);
  }
  p { 
    font-size: 24px;
    line-height: 42px;
    color: var(--white-color);
  }
}
.deliverables {
  width: 22%;
  span {
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--placeholder-grey-color);
  }
}
.deliverables__points {
  li {
    font-size: 16px;
    line-height: 18px;
    font-stretch: normal;
    text-transform: capitalize;
    color: var(--placeholder-grey-color);
  }
}
.deliverables__points li:not(:last-child) {
  margin-bottom: 15px;
}
.media__container {
  max-width: 100%;
}
//---@media-intro__description-------
@media(max-width: 1470px) {
  .overview p {
    font-size: calc(14px + (24 - 14)*((100vw - 320px)/(1470 - 320)));
    line-height: calc(21px + (42 - 21)*((100vw - 320px)/(1470 - 320)));
  }
  .intro__description {
    padding-top: calc(26px + (90 - 26)*((100vw - 320px)/(1470 - 320)));
    padding-bottom: calc(36px + (106 - 36)*((100vw - 320px)/(1470 - 320)));
  }
  .overview span,
  .deliverables span {
    margin-bottom: calc(8px + (20 - 8)*((100vw - 320px)/(1470 - 320)));
    font-size: calc(14px + (18 - 14)*((100vw - 320px)/(1470 - 320)));
    line-height: calc(16px + (20 - 16)*((100vw - 320px)/(1470 - 320)));
  }
  .deliverables__points li {
    font-size: calc(12px + (16 - 12)*((100vw - 769px)/(1470 - 769)));
    line-height: calc(16px + (18 - 16)*((100vw - 769px)/(1470 - 769)));
  }
  .deliverables__points li:not(:last-child) {
    margin-bottom: calc(9px + (15 - 9)*((100vw - 769px)/(1470 - 769)));
  } 
}
@media(max-width: 768px) {
  .deliverables {
    display: none;
  }
  .overview {
    width: 100%;
  }
}
