.contact {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 79px;
  padding-bottom: 69px;
}
.title .title__line {
  color: var(--contact-title-line-bg);
  background-color: var(--contact-title-line-bg);
  border: 0px none;
  width: 80px;
  height: 2px; 
  clear: both; 
  margin: 0 auto;
}
.contact-items {
  margin-top: 42px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.contact-address,
.contact-email,
.contact-social {
  a {
    transition: all 1s ease;
  }
  img {
    margin: 0 auto;
  }
  .contact-caption {
    margin-top: 26px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .contact-text {
    max-width: 170px;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: var(--contact-text-color);
    text-transform: capitalize;
  }
}
.email-adress {
  max-width: 191px;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: var(--contact-text-color);
  span {
    display: block;
    color: var(--white-color);
  }
}
#contactFormScroll {
  transition: all 1s ease;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  span {
    display: block;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    text-transform: capitalize;
    color: var(--contact-text-color);
  }
  img {
    margin: 0;
  }
}
.social-link:not(:last-child) {
  margin-bottom: 14px;
}
//---@media-contact------------------
@media (hover: hover) and (pointer: fine) {
  .contact-address a:hover, 
  .contact-email a:hover, 
  .contact-social a:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .contact-address a:active, 
  .contact-email a:active, 
  .contact-social a:active {
    opacity: 0.5;
  }
}
@media(max-width: 970px) {
  .title .title__line {
    width: calc(47px + (80 - 47)*((100vw - 320px)/(970 - 320)));
    height: calc(1px + (2 - 1)*((100vw - 320px)/(970 - 320)));
  }
  .contact {
    padding-top: calc(36px + (79 - 39)*((100vw - 320px)/(970 - 320)));
    padding-bottom: calc(21px + (69 - 21)*((100vw - 320px)/(970 - 320)));
  }
  .contact-items {
    margin-top: calc(26px + (42 - 29)*((100vw - 320px)/(970 - 320)));
  }
}
@media(max-width: 594px) {
  .contact-items {
    flex-wrap: wrap;
    gap: 30px;
  }
  .contact-social img {
    padding-bottom: 7.25px;
  }
  .social-link:not(:last-child){
    margin-bottom: 13px;
  }
  .contact-address  {
    order: 1;
  }
  .contact-social{
    order: 2;
  }
  .contact-email{
    order: 3;
  }
}
@media(max-width: 373px) {
  .contact-social img {
    padding-bottom: 0px;
  } 
}