.clients {
  padding-top: 50px;
  padding-bottom: 80px;
  background-image: url(/mobile-menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.clients__conteiner {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
}
.clients__title {
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-size: 52px;
  line-height: 60px;
  text-align: center;
  color: var(--grey-color);
}
.clients__list {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px; 
  align-items: center;
  justify-items: center;
}
.client__logo:nth-child(1) {
  animation: scale-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(2) {
  animation: scale-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(3) {
  animation: scale-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(4) {
  animation: scale-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(5) { 
  animation: scale-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(6) {
  animation: scale-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(7) {
  animation: scale-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(8) {
  animation: scale-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(9) {
  animation: scale-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.client__logo:nth-child(10) {
  animation: scale-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}
//---@media-clients-----------------
@media(max-width: 1230px) {
  .clients {
    padding-top: calc(28px + (50 - 28)*((100vw - 320px)/(1230 - 320)));
    padding-bottom: calc(48px + (80 - 48)*((100vw - 320px)/(1230 - 320)));
  }
  .clients__title {
    margin-bottom: calc(18px + (50 - 18)*((100vw - 320px)/(1230 - 320)));
    font-size: calc(23px + (52 - 23)*((100vw - 320px)/(1230 - 320)));
    line-height: calc(33px + (60 - 33)*((100vw - 320px)/(1230 - 320)));
  }
}